.Button {
    width: 100px;
    height: 75px;
    font-size: larger;
    outline: none;
}

.Button:hover {
    background-color: lightgray;
}

.Active {
    background-color: lightgray;
    border: 1px solid blue;
}