.Buttons {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: none;
    grid-template-areas:
        "functions operators"
        "buttons operators";
}

.Button.Active {
    background-color: lightgray;
    border: 1px solid lightcoral;
}